
<div class="modal-header">
    <h3 class="modal-title">Task Group: {{currentDisplayTask.title}} | Modify Task</h3>
</div>
<div class="modal-body">
    <form ng-submit="modTask()" id="addForm" class="css-form" novalidate>
        <input type="text" class="form-control" placeholder="{{currentDisplayTaskItem.content}}" ng-model="newTaskItemContent" autofocus required maxlength="300">
        </select>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="addForm" value="submit" ng-click="submitModItem(currentDisplayTask)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancelWindow()">Cancel</button>
</div>